@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

*{
  overflow-x: hidden;
  margin:0%;
  padding:0%;
  box-sizing: border-box;
}
.top{
  background-color: rgba(243, 241, 241, 0.842);
  color:rgb(7, 7, 7);
  padding: 15px;
  height: 50px;
  overflow-y: hidden;
}
.r1 i, .phone{
  color: #ce3232;
  margin-left: 5px;
  
}
.i .fa-phone{
  font-size: 30px;
}
.navbar{
  border: none;
  background-color: transparent;
  padding: 25px 0;
  position:sticky;
  top:0;
}
.navbar .navbar-brand {
  color: #030000;
  font-size: 18px;
  font-weight: bold;
}
.navbar .nav-brand { /*when the page is scrolled it changes into white*/
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}
.navbar .navbar-brand span {
  color: #ce3232;
}
.menu .bi-cart{
  margin:10px;
}
.navbar-nav .nav-item a {
  border-right:2px solid black;
  height:30px;
  overflow-y:hidden;
}
.navbar .menu li a {
  font-size: 12px;
  font-weight: bold;
  color: #090909;
  padding-right: 22px;
  padding-left: 22px;
  text-transform: uppercase;
}

.navbar .menu li a:hover {
  background: transparent;
  color: #ce3232;
}
.navbar .nav li.active > a {
  background-color: transparent;
  color: #ce3232;
}

/*Login button before scrolling page*/  
.navbar .menu button  {
  background: #ce3232;
  border-radius: 0;
  border: 0;
  color: #f9f9f9;
  font-weight: normal;
  padding: 10px 25px;
  transition: 0.5s 0.2s; 
}
.navbar .menu button a{
  color:#ffffff;
  text-decoration: none;
}

.navbar .menu button:hover{
  font-weight:bold;
}

/*Navbar after scrolling*/
.nav-scroll{
  background-color:white ;
}

/*slider*/
#home h1 {
  color: #ffffff;
  padding-bottom: 30px;
}

#home h3 {
  color: #f9f9f9;
  font-size: 14px;
  line-height: inherit;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}
/*slider buttons*/
#home .slide .carousel-inner .carousel-item .section-btn {
  background-color:transparent;
  color:#0b0b0b;
  border: 1px solid #ffffff;
  
}

#home .slide .carousel-inner .carousel-item .section-btn:hover {
  background-color:  #ce3232;
  border:1px solid black;
  color:#ffffff;
}

/* sec3  cards*/
.sec3 {
  padding:5px;
}



